
<ul>
  <% @products.each do |product| %>
    <li> <%= product.title %></li>
    <li> <%= product.description %></li>
    <li> <%= product.deadline %></li>
    <li> <%= link_to 'show', site_show_path(product) %></li>
    </li>
  <% end %>
</ul>
