<!DOCTYPE html>
<html>
<head>
  <title>MusicConcertNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <nav>
        <div class="container">
          <ul class="menu">
            <li class="item">
              <a href="/" >Conciertos de hoy</a>
            </li>
            <li class="item">
              <a href="/price" >Buscar por precio</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="main">
      <%= yield %>
    </div>
    <footer>
      <p>Copyright 2016</p>
    </footer>
</body>
</html>
