<form class="" action="/results_by_price" method="post">
  <input type="text" name="price" value="" placeholder="Precio.......">
  <input type="submit" name="" value="Buscar">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
