// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  background: #1b1616;
}

ul {
  list-style: none;
}

label {
  margin-bottom: 8px;
}

footer {
  clear: both;
  background: black;
  width: 100%;
  height: 100px;
  p {
    padding: 45px 0 0 0;
    color: #ffffff;
    text-align: center;
  }
}



.container {
  display: block;
  margin: 0 auto;
  width: 80%;
}
.menu,
.social {
   background: black;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 50px;
   margin: 0 auto;
   margin-top: 40px;
   float: left;
   .item {
     a {
       list-style: none;
       color: white;
       font-weight: bold;
    }
   }
}

.menu {
  width: 80%;
}

.social {
  width: 20%;
}


.container {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.menu {
  width: 80%;
}

.social {
  width: 20%;
}

.input-form {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  width: 100%;
}

.simple-button {
  background-color: #2b99d0;
  border-color: #36b2f1;
  color: #fff;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 5px;
}

textarea.input-form {
  height: auto;
}

.comments {
  .comment {
    margin-bottom: 15px;
    .thumbail {
      margin-left: -40px;
      margin-top: 11px;
      float: left;
    }
    .block {
      background: #F4F4F4;
      border-radius: 5px;
      padding: 20px 20px 30px;
      position: relative;
      .comment-by {
        font-weight: 800;
      }
    }
  }
}

#main {
  #content {
    float: left;
    width: 75%;
  }
  #sidebar-rigth {
    margin: 20px 0 0 0;
    float: right;
    width: 25%;
  }
}
