header {
  #menu {
    background: $color_blue;
    color: $color_white;
  }
  .header-image {
    img {
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }
  #menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    .item {
      border-right: 1px solid #fff;
      padding: 1% 8%;
    }
    .item:last-child {
        border: 0;
    }
  }
}
