<form class="" action="/movies" method="post">
  <input type="text" name="search" value="" placeholder="Pelicula.......">
  <input type="submit" name="" value="Buscar">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
